/* Display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: black;
}

/* Hero background image */
.bgimage {
  height: 100vh;
  background: url('images/heroImage.jpg');
  background-size: cover;
  position: relative;
}

/* Text CSS above hero image */
.hero_title {
  font-size: 4.5rem;
}

.hero_desc {
  font-size: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* About section image CSS */
.imageAboutPage {
  width: 100%;
}

/* About Skill CSS */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container ul {
  margin: auto;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}